name: Backend Vulnerability Detection CI Pipeline

on:
  pull_request:
    branches: [ '**' ]

jobs:
  scan-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build an image from Dockerfile
        run: |
          docker build --pull --no-cache -t web-page-word-counter-node:${{ github.sha }} .
        working-directory: ./backend
      - name: Run Trivy vulnerability scanner on Docker image
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: 'web-page-word-counter-node:${{ github.sha }}'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
